		<style type="text/css">
			
			a.mouse1:hover, a.mouse1:active {
			font-size: 150%;
			background: blue;
			}
			
			.button {
				background-color: red;
				cursor: pointer;
				border: solid;
				border-color: black;
				color: white;
				width: 150px;
				height: 30px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 20px;
				text-shadow:1px 1px black;
				}

			.button2 {
				background-color: cd0000;
				cursor: pointer;
				border: solid;
				border-color: black;
				color: white;
				width: 150px;
				height: 30px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 20px;
				text-shadow:1px 1px black;
				}

			.button3 {
				background-color: ae0000;
				cursor: pointer;
				border: solid;
				border-color: black;
				color: white;
				width: 150px;
				height: 30px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 20px;
				text-shadow:1px 1px black;
				}

			.button_button /* button */ {
				background-color: #05fdff;
				cursor: pointer;
				border: solid;
				border-color: black;
				color: white;
				width: 300px;
				height: 50px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 20px;
				text-shadow:1px 1px black;
				}
				
			.button_div1 /* button */ {
				background-color: #05e8e5;
				cursor: pointer;
				border: solid;
				border-color: #05fdff;
				color: white;
				width: 300px;
				height: 50px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 20px;
				text-shadow:1px 1px black;
				transition-duration:1s;
				-webkit-transition-duration:1s;
				position: fixed;
			left: 10px;
			right: 10px;
				}
				
			.button_div3 /* button */ {
				background-color: #05e8e5;
				cursor: pointer;
				border: solid;
				border-color: #05fdff;
				color: white;
				width: 300px;
				height: 50px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 20px;
				text-shadow:1px 1px black;
				transition-duration:1s;
				-webkit-transition-duration:1s;
				position: fixed;
			left: 610px;
			right: 610px;
				}
				
			.button_div4 /* button */ {
				background-color: #05e8e5;
				cursor: pointer;
				border: solid;
				border-color: #05fdff;
				color: white;
				width: 300px;
				height: 50px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 20px;
				text-shadow:1px 1px black;
				transition-duration:1s;
				-webkit-transition-duration:1s;
				position: fixed;
			left: 910px;
			right: 910px;
				}
				
			.button_div2 /* button */ {
				background-color: #05e8e5;
				cursor: pointer;
				border: solid;
				border-color: #05fdff;
				color: white;
				width: 300px;
				height: 50px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 20px;
				text-shadow:1px 1px black;
				transition-duration:1s;
				-webkit-transition-duration:1s;
				position: fixed;
			left: 310px;
			right: 310px;
				}
				
			.button_yellow_s /* yellow */ {
				background-color: #ffff00;
				cursor: pointer;
				border: none;
				color: white;
				width: 220px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				text-shadow:1px 1px black;
				}
				
			.button_yellow:hover {background: orange;}
			
			.button_yellow_s:hover {background: orange;}
			
			table {
				border: 1.5mm solid #ff6600;
				table-layout: auto;
				border-collapse: collapse;
				empty-cells: show;
			}
			
			td {
				border: 0.5mm solid #e65c00;
				background: #ff751a;
				padding-left: 1.5mm;
				padding-right: 1.5mm;
				padding-top: 0.5mm;
				padding-bottom: 0.5mm;
			}
			
			th {
				border: 1mm solid #e65c00;
				background: #ff8533;
				padding-left: 1.5mm;
				padding-right: 1.5mm;
				padding-top: 0.5mm;
				padding-bottom: 0.5mm;
			}
			
			h2 {
				color: #05fdff;
				font-size: 36px;
				text-shadow:1px 1px white;
			}
			
			h1 {
				color: #46c7f2;
				font-size: 26px;
				text-shadow:1px 1px white;
			}
			
			
			#pasek {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			height: 50px;
			background-color: #05fdff;
			}
			
			#Navbar1 {
			position: fixed;
			top:-40px;
			left: 10px;
			right: 10px;
			transition-duration:1s;
			-webkit-transition-duration:1s;
			background-color: #05fdff;
			height: 50px;
			}
			
			#rozdzialy1 {
			position: fixed;
			top: 50px;
			left: 450px;
			right: 720px;
			transition-duration:1s;
			-webkit-transition-duration:1s;
			height: 90px;
			}

			#Navbar1:hover {
			position: fixed;
			top: 0px;
			left: 10px;
			right: 10px;
			transition-duration:1s;
			-webkit-transition-duration:1s;
			background-color: #05fdff;
			height: 50px;
			}
		
#projekt {
    margin     : auto;
    border     : 1px solid white;
    padding    : 0px;
    width      : 700px;
	background-color: #366060;
	color: white;
	text-shadow:1px 1px black;
}

#zdjecie {
    margin     : auto;
    border     : 1px solid white;
    padding    : 0px;
    width      : 600px;
	background-color: black;
	color: white;
	text-shadow:1px 1px black;
}
		
#dev {
    margin     : auto;
    border     : 1px solid white;
    padding    : 0px;
    width      : 650px;
	background-color: gray;
	color: white;
	text-shadow:1px 1px black;
}

#data {
    margin     : left;
    border     : 1px solid white;
    padding    : 0px;
    width      : 150px;
	background-color: #05fdff;
	color: white;
	text-shadow:1px 1px black;
}
			
			p.dotted {
				border-color: #ffff00;
				border-style: dotted;
			}
			
			p.dashed {
				border-color: #ffff00;
				border-style: dashed;
			}
			
			p.solid {
				border-color: #ffff00;
				border-style: solid;
			}
			
			p.double {
				border-color: #ffff00;
				border-style: double;
			}
			
			p.groove {
				border-color: #ffff00;
				border-style: groove;
			}
			
			p.ridge {
				border-color: #ffff00;
				border-style: ridge;
			}
			
			p.inset {
				border-color: #ffff00;
				border-style: inset;
			}
			
			p.outset {
				border-color: #ffff00;
				border-style: outset;
			}
			
			p.none {
				border-color: #ffff00;
				border-style: none;
			}
			
			p.youtube {
				border-color: #ffff00;
				border-style: solid;
				width: 560px;
			}
			
			p.hidden {border-style: hidden;}
		</style>
